.wrapper {
  user-select: none;
  margin-top: 60px;
  margin-left: 180px;
  width: calc(100% - 180px);
  height: calc(100% - 60px);
  padding: 30px;
  box-sizing: border-box;
  background: rgb(var(--gray-2));
}
