.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  padding: 0 24px;

  transition: all 0.1s cubic-bezier(0, 0, 1, 1);

  color: var(--color-text-1);
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-bg-2);
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.controller-container,
.controller-container > div {
  display: flex;
  align-items: center;

  height: 100%;
}

.controller-container > div + div {
  margin-left: 12px;
}

.controller-container > div > div + * {
  margin-left: 4px;
}

.operation-container {
  display: flex;
}

.operation {
  margin-left: 4px;

  font-weight: bold;
}

.button-container {
  display: flex;
  align-items: center;
}

.theme-button {
  color: #ffb700 !important;
}

body[arco-theme='dark'] .theme-button {
  color: #ffffff !important;
}
