.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  padding: 0 24px;

  transition: all 0.1s cubic-bezier(0, 0, 1, 1);

  color: var(--color-text-1);
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-bg-2);
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.operation-container {
  display: flex;
}

.operation {
  margin-left: 4px;

  font-weight: bold;
}
