.container {
  position: absolute;
  bottom: 0;
  left: 0;
}

.container.interact-layer * {
  color: transparent !important;
}

.mini-map.container {
  transform-origin: bottom left;
  white-space: nowrap;
  pointer-events: none;
}

.title {
  font-size: 100px;
  font-weight: bold;
}

.title > * + * {
  margin-left: 32px;
}

.civil {
  color: rgb(var(--primary-6));
}

.map-type {
  color: rgb(var(--danger-6));
}

.no-tree {
  color: rgb(var(--success-6));
}

.map-layout {
  color: var(--color-text-2);
}

.author,
.web-link {
  color: var(--color-text-2);

  font-size: 30px;
}

.author > * + *,
.web-link > div > * + * {
  margin-left: 12px;
}

.author strong,
.web-link strong {
  color: var(--color-text-1);
}

.web-link strong {
  padding: 0 8px;

  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.web-link strong:hover {
  border-radius: 8px;
  background: var(--color-fill-2);
}
