.container {
  width: 100%;
  height: 100%;
}

.area {
  z-index: 20;

  pointer-events: none;

  border-width: 2px;
  border-style: dashed;
  border-color: rgb(var(--primary-7));
  background: rgba(var(--primary-5), 0.4);
}

.selected-building {
  z-index: 20;

  pointer-events: none;

  border: 0px solid transparent;
  background: transparent;
  box-shadow: inset 0 0 16px 2px rgb(var(--primary-3));
}

.button {
  position: absolute;
  z-index: 20;

  transition: none;

  box-shadow: 0 0 4px rgb(var(--gray-3));
}

.button svg {
  pointer-events: none;
}

.free-move {
  z-index: 100 !important;
}

.free-move:not(button) {
  opacity: 0.6;
}
