.container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  pointer-events: none;

  color: var(--color-text-2);

  font-size: 12px;
}

.container img {
  display: block;

  margin-right: 4px;
}

.container a {
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
  pointer-events: initial;

  color: var(--color-text-2);
}

.container a:visited {
  text-decoration: none;

  color: var(--color-text-2);
}

.container a:hover {
  color: rgb(var(--primary-5));
}
