.wrapper {
  position: fixed;
  right: 16px;
  bottom: 16px;
  background: var(--color-menu-light-bg);
  padding: 4px;
  opacity: 0.8;
}

.container {
  width: 174px;
  height: 174px;
  background: rgb(var(--gray-2));
}

.canvas {
  width: 100%;
  height: 100%;
}
