.wrapper {
  pointer-events: none;
}

.start {
  z-index: 20;

  border-width: 2px;
  border-style: dashed !important;
  border-color: rgb(var(--primary-6));
  background: transparent !important;
}

.container {
  z-index: 19;

  opacity: 0.4;
  background: rgb(var(--primary-6)) !important;
}
