.container {
  height: 100%;

  transition: all 0.1s cubic-bezier(0, 0, 1, 1);

  color: var(--color-text-1);
  border-right: 1px solid var(--color-border);
  background-color: var(--color-bg-2);
}

.container > div:first-of-type {
  overflow: unset;
}

.menu-container {
  height: 100%;
}

.main-menu-container {
  display: flex;
  align-items: center;

  width: 100%;
}

.main-menu-container > .text {
  flex-grow: 1;
}

.icon {
  margin-right: 8px;

  object-fit: cover;
}

.key-shortcut {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  height: 18px;
  margin-right: 8px;
  padding: 4px;

  color: var(--color-text-3);
  border: 1px solid #c9cdd4;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0 2px 0 #c9cdd4;

  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  font-size: 12px;
}

body[arco-theme='dark'] .key-shortcut {
  color: hsla(0, 0%, 100%, 0.4);
  border: 1px solid hsla(0, 0%, 100%, 0.12);
  background: #202022;
  box-shadow: 0 2px 0 hsla(0, 0%, 100%, 0.12);
}
