.container {
  height: 100%;

  transition: all 0.1s cubic-bezier(0, 0, 1, 1);

  color: var(--color-text-1);
  border-right: 1px solid var(--color-border);
  background-color: var(--color-bg-2);
}

.menu-container {
  height: 100%;
}

.menu-container :global(.arco-menu-icon-suffix) {
  display: none !important;
}

.menu-container :global(.arco-menu-pop-header),
.menu-container :global(.arco-menu-inline-header) {
  padding-right: 12px !important;
}

.menu-container.collapsed :global(.arco-menu-pop-header),
.menu-container.collapsed :global(.arco-menu-inline-header) {
  padding: 0 6px !important;
}

.menu-container.collapsed :global(.arco-menu-item) {
  padding: 0 6px !important;
}

.main-menu-container {
  display: flex;
  align-items: center;

  width: 100%;
}

.main-menu-container > .text {
  flex-grow: 1;

  margin: 0 8px;

  text-align: center;
}

.pop-sub-menu-container :global(.arco-dropdown-menu) {
  max-height: 600px;
}

.pop-sub-menu-container :global(.arco-dropdown-menu-item) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pop-sub-menu-container .key-container {
  color: var(--color-text-3);
}

.pop-sub-menu-container :global(.arco-dropdown-menu-item) > div {
  display: flex;
  align-items: center;
}

.icon {
  object-fit: cover;
}

.key-shortcut {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 16px;
  height: 18px;

  transform: scale(0.9);
  transform-origin: right center;

  color: var(--color-text-3);
  border: 1px solid #c9cdd4;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0 2px 0 #c9cdd4;

  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  font-size: 12px;
  font-weight: bold;
}

.key-shortcut:first-of-type {
  margin-left: 8px;
}

body[arco-theme='dark'] .key-shortcut {
  color: hsla(0, 0%, 100%, 0.4);
  border: 1px solid hsla(0, 0%, 100%, 0.12);
  background: #202022;
  box-shadow: 0 2px 0 hsla(0, 0%, 100%, 0.12);
}
