.container {
  position: relative;

  box-sizing: border-box;
  height: 18px;
  padding: 0 4.5px;

  transform: scale(0.9);
  transform-origin: center;
  text-align: center;

  color: var(--color-text-3);
  border: 1px solid #c9cdd4;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0 2px 0 #c9cdd4;

  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
}

.arrow {
  border-right-style: none !important;
}

.arrow::after {
  position: absolute;
  z-index: -1;
  top: 3px;
  right: -4px;

  display: block;

  width: 11px;
  height: 11px;

  content: '';
  transform: rotate(-45deg);

  border-right: 1px solid #c9cdd4;
  border-bottom: 1px solid #c9cdd4;
  background: #ffffff;
  box-shadow: 0 1px 0 #c9cdd4;
}

body[arco-theme='dark'] .container {
  color: hsla(0, 0%, 100%, 0.4);
  border: 1px solid hsla(0, 0%, 100%, 0.12);
  background: #202022;
  box-shadow: 0 2px 0 hsla(0, 0%, 100%, 0.12);
}

body[arco-theme='dark'] .arrow::after {
  border-right: 1px solid hsla(0, 0%, 100%, 0.12);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.12);
  background: #202022;
  box-shadow: 0 1px 0 hsla(0, 0%, 100%, 0.12);
}
